<!-- your html code here -->
<div class="container text-center border-bottom p-5">
    <div class="row justify-content-center">
        <div class="container">
            <h2 class="mb-3 text-start">Contact</h2>
            <p class="lead mb-5 text-start">
                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.
            </p>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10">
                        <div class="bg-white p-4 rounded shadow-sm">
                            <form>
                                <!-- Email Field -->
                                <div class="row g-3 align-items-center">
                                    <div class="col-12 col-md-2 col-auto">
                                        <label class="form-label fw-bold">Your E-mail</label>
                                    </div>
                                    <div class="col-12 col-md-10 col-auto">
                                        <input type="password" id="inputPassword6" class="form-control"
                                            aria-describedby="passwordHelpInline" placeholder="Your email">
                                    </div>
                                </div>

                                <div class="row g-3 align-items-center mt-3">
                                    <div class="col-12 col-md-2">
                                        <label class="form-label fw-bold">Your message</label>
                                    </div>
                                    <div class="col-12 col-md-10">
                                        <textarea class="form-control" rows="6"
                                        placeholder="Please enter your message here..." required></textarea>
                                    </div>
                                </div>

                                <div class="text-end mt-3">
                                    <button type="submit" class="btn btn-primary px-4">
                                        Submit
                                    </button>
                                </div>

                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>