<!-- your html code here -->
<div class="container text-center border-bottom p-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-4">
            <img src="./assets/img/2.jpg" alt="imagen manos tecleando" class="rounded-circle">
        </div>
        <div class="col-12 col-sm-6">
            <h2 class="text-start">The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h2>
            <p class="text-start">
                Donec ullamco rper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>
    </div>
</div>